.book-ride-title {
    font-family: 'Poppins', sans-serif;
    /* Apply Poppins font */
    font-size: 2.5rem;
    /* Increase the font size */
    font-weight: 600;
    /* Set the font weight to bold */
    color: #1efb4e;
    /* Dark color for the text */
    text-align: center;
    /* Center-align the text */
    margin-bottom: 1.5rem;
    /* Add space below the title */
    letter-spacing: 2px;
    /* Add some spacing between letters */
    position: relative;
}

