.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    flex-wrap: wrap;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.296);
}

.register-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    padding: 30px;
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
}

.stylish-heading {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #4caf50;
    text-align: center;
}

.register-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .register-page {
        flex-direction: column;
    }

    .register-image-container {
        display: none;
        /* Hide image on smaller screens */
    }
}